* {
  margin: 0;
  padding: 0;
  background-color: rgb(190, 155, 100);
}

.heading {
  width: 100%;
  height: 60px;
  color: rgb(190, 155, 100);
  background-color: rgb(211, 200, 200, 0.9);
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#text1 {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 2rem;
}
#text2 {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 2rem;
}
.heading1 {
  color: white;
  font-size: 45px;
  display: flex;
  justify-content: center;
}
input {
  border-radius: 0.4rem;
  border: 4px solid grey;
  height: 30px;
  width: 250px;
}
.input {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
#input-area {
  background-color: white;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
button {
  color: white;
  font-size: 30px;
  border-radius: 0.3rem;
}
button:hover {
  background-color: rgb(57, 83, 232);
  color: white;
}
.previous-guess {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.guess-remaining {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
#text3 {
  color: white;
  font-size: 20px;
}
#text4 {
  color: white;
  font-size: 20px;
}
#text5 {
  color: white;
  font-size: 20px;
}
#text6 {
  color: white;
  font-size: 20px;
}
#resulting-area {
  font-size: 50px;
  color: white;
  margin: 2rem;
  display: flex;
  justify-content: center;
}
